{% extends "food/base.html" %}
{% block body %}

<body class="row  bg-light">
    <div class="col-md-3 offset-md-1">
        <img src="{{ item.item_image }}" class="card"  width="100%"  alt="">
    </div>
    <div class="col-md-3 offset-md-2">
        <h1>{{item.item_name}}</h1>
        <h1>{{item.item_desc}}</h1>
        <h1>${{item.item_price}}</h1>
        <a href="{% url 'food:update_item' item.id %}">update</a>
        <a href="{% url 'food:delete_item' item.id %}"> delete</a>
    </div>
   
</body>
</html>
{% endblock %}


